<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      
      <class name="maven.MAVENHEADLESS.onlinesampling"/>
      <class name="maven.MAVENHEADLESS.CartHLess"/>
      <class name="maven.MAVENHEADLESS.pshomeschool"/>
      <class name="maven.MAVENHEADLESS.PS_HLess"/>
      <class name="maven.MAVENHEADLESS.PS1gWt"/>
      <class name="maven.MAVENHEADLESS.PNP"/>
      <class name="maven.MAVENHEADLESS.Rollup_Literacy"/>
       <class name="maven.MAVENHEADLESS.Rollup_Mathematics"/>
      <class name="maven.MAVENHEADLESS.PSZj4a"/>
        <class name="maven.MAVENHEADLESS.PSZn89"/>
        <class name="maven.MAVENHEADLESS.GLOBAL"/>
      <class name="maven.MAVENHEADLESS.SearchHLess"/>
       <class name="maven.MAVENHEADLESS.Oasis"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
